.dots {
    --dot-bg: #ADA8C8;
    --dot-color: #E0DFF4;
    --dot-size: 2px;
    --dot-space: 13px;
  
    background:
      linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
      var(--dot-color);

      mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0.1) 85%);
  mask-size: cover;
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.1) 75%);
  -webkit-mask-size: cover;
  }
  
  .circle-container {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #b7b3c9; 
    border-radius: 50%;
    filter: blur(1px); 
  }
  
  .circle-container::after {
    content: '';
    position: absolute;
    width: 25px; 
    height: 25px;
    background: #c0bdd1; 
    border-radius: 50%;
    
  }

  .circles-con {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circles {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #b7b3c9; 
    border-radius: 50%;
    filter: blur(1px);
  }
  
  .circles-con::after {
    content: '';
    position: absolute;
    width: 18px; 
    height: 18px;
    background: #c0bdd1; 
    border-radius: 50%;
    
  }